@{
    ViewData["Title"] = "FormularioIngreso";
}



@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

@if (ViewBag.Exito != null)
{
    <div class="alert alert-success">@ViewBag.Exito</div>
}

<h1>Formulario de ingreso por primera vez</h1>
<br />
<form method="post" action="~/usuarios/ProcesarFormularioIngreso">
    <div class="form-group">
        <label for="email">Mail</label>
        <input type="text" class="form-control" id="email" name="Email" placeholder="Ingrese email" value="">
    </div>

    <div class="form-group">
        <label for="titulo">Constrasena</label>
        <input type="password" class="form-control" id="contrasena" name="Contrasena" placeholder="Ingrese contrasena" value="">
    </div>

    <div class="form-group">
        <label for="anio">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="Nombre" placeholder="Ingrese nombre" value="">
    </div>

    <div class="form-group">
        <label for="anio">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="Apellido" placeholder="Ingrese apellido" value="">
    </div>

    <div class="form-group">
        <label for="anio">Fecha de nacimiento</label>
        <br />
        <input type="date" id="dateInput" name="fecha">


    </div>


    <br />
    <input type="submit" class="btn btn-secondary" value="Crear" />
</form>