@{
    ViewData["Title"] = "Login";
}




<div class="card" style="width: 20rem; margin: 70px auto;">
    <div class="card-header">
        <h3>Login</h3>
    </div>
    <div class="card-body">

        <form action="~/usuarios/procesarlogin" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" name="email" id="txtUsuario" class="form-control" />

            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="pass" id="txtPass" class="form-control" />

            </div>
            <br />
            <input type="submit" value="Login" class="btn btn-secondary" />
        </form>

    </div>
</div>

<br />

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}
